body {
  text-align: center;
  background-image: url('back.png');
  background-size: 100%;
  font-family: '游ゴシック','Arial','メイリオ';
}
.back {
  background-color: rgba(255,255,255,0.5);
}
.text{
  position: relative;
  font-weight: bold;
  color:#14af72;
  text-align: center;
}
.green {
  background: linear-gradient(#14af72,#14af72,#14af72,#0d875a);
  border-radius: 10px;
}
#daimei1 {
  color: white;
  display: inline-block;
  text-shadow: 2px 2px 5px gray;
  text-align: center;
}
#daimei2 {
  color: white;
  text-shadow: 2px 2px 5px gray;
  display: inline-block;
}
#reset {
  color: white;
  font-weight: bold;
}
#corse {
  color: white;
  font-weight: bold;
  display: inline-block;
  text-shadow: 0 3px 3px gray;
}
#button {
  color: white;
}
#buttonn{
  color: white;
}
.buttons {
  background-color:#34916c;
  font-weight: bold;
  border: none;
  box-shadow: 5px 5px 5px gray;
}
.buttons:active {
  scale: 95%;
}
.dis {
  display: flex;
  justify-content: center;
}
.dis label{
  background: linear-gradient(#34916c,#14af72);
  text-align: center;
  box-sizing: border-box;
  font-weight: bold;
  color: white;
  box-shadow: 3px 3px gray;
}
.dis label:active{
  scale: 95%;
}
.dis input:checked+label{
  background-image: url('button.png');
}
.dis input{
  display: none;
}
#tyui {
  opacity: 0;
  color: red;
  font-weight: bold;
}
a{
  color: #fbe338;
}
@media (min-width:768px) {
  \n {
    display: none;
  }
  #mori2 {
    width: 250px;
    position: relative;
    left: 400px;
    top: 10px;
  }
  br {
    display: none;
  }
  .text {
    font-size: 60px;
  }
  .back {
    margin: 0 auto;
    height: 700px;
    width: 1200px;
    border-radius: 20px;
  }
  .green {
    position: absolute;
    top: 350px;
    height: 150px;
    width: 1200px;
  }
  #daimei1 {
    font-size: 45px;
    position: relative;
    bottom: 60px; 
    right: 20px;
    background: linear-gradient(transparent 60%, #fbe338 30%);
  }
  #daimei2 {
    font-size: 25px;
    position: relative;
    bottom: 10px;
    right: 350px;
  }
  #reset {
    font-size: 30px;
  }
  #corse {
    font-size: 50px;
    position: relative;
    bottom: 20px;
  }
  #part {
    text-decoration: underline;
    text-decoration-thickness: 0.5em;
    text-decoration-color: #fbe338;
    text-decoration-skip-ink: none;
    text-underline-offset: -0.2em;
  }
  #button {
    font-size: 40px;
  }
  #buttonn {
    font-size: 50px;
  }
  .buttons {
    width: 400px;
    height: 100px;
    border-radius: 10px;
    position: absolute;
    bottom: 130px;
    left: 480px;
  }
  .dis label {
    width: 350px;
    border-radius: 40px;
    font-size: 40px;
    padding: 10px;
    margin: 20px;
    position: relative;
    top: 100px;
  }
  #que{
    font-size: 50px;
    position: relative;
    top: 50px;
  }
  a {
    position: relative;
    bottom: 60px;
  }
  #tyui {
    position: relative;
    top: 100px;
    font-size: 35px;
  }
}
@media (max-width:767px) {
  #mori2 {
    width: 150px;
    position: absolute;
    top: 70%;
    left: 32%;
  }
  .text {
    font-size: 40px;
  }
  .back {
    position: relative;
    margin: 0 auto;
    height: 600px;
    width: 400px;
    border-radius: 20px;
  }
  .green {
    width: 400px;
    position: absolute;
    top: 100px;
    height: 150px;
  }
  #daimei1 {
    font-size: 25px;
    position: relative;
    bottom: 25px; 
    right: 2px;
    text-decoration: underline;
    text-decoration-thickness: 0.5em;
    text-decoration-color: #fbe338;
    text-decoration-skip-ink: none;
    text-underline-offset: -0.2em;
  }
  #daimei2 {
    font-size: 15px;
    position: relative;
    top: 10px;
    right: 50px;
  }
  #reset {
    font-size: 30px;
  }
  #corse {
    font-size: 30px;
    position: relative;
    bottom: 20px;
    white-space: pre-line;
  }
  #part {
    text-decoration: underline;
    text-decoration-thickness: 0.5em;
    text-decoration-color: #fbe338;
    text-decoration-skip-ink: none;
    text-underline-offset: -0.2em;
  }
  #button {
    font-size: 25px;
  }
  #buttonn {
    font-size: 25px;
  }
  .buttons {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    bottom: 200px;
    left: 26%;
  }
  #aa {
    position: absolute;
    top: 110px;
    left: 9%;
  }
  #bb {
    position: absolute;
    top: 190px;
    left: 9%;
  }
  .dis label {
    width: 300px;
    height: 50px;
    border-radius: 40px;
    font-size: 23px;
    padding: 10px;
    margin: 20px;
  }
  #que{
    font-size: 25px;
    position: relative;
    top: 50px;
    white-space: pre-line!important;
  }
  a {
    position: relative;
    bottom: 60px;
  }
  #tyui {
    position: absolute;
    top: 260px;
    left: 34%;
    font-size: 25px;
  }
}